@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway.woff2') format('woff2');
    font-style: normal;
    font-weight: 300 800;
}

@font-face {
    font-family: Raleway;
    src: url('fonts/raleway/Raleway-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Raleway, "PT Sans", Calibri, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    display: block;
}

h1 {
    margin: 20vh auto;
    margin-bottom: 0;
    height: fit-content;
    width: fit-content;
    font-style: italic;
    font-size: 30px;
    background-color: #00ff50;
    color: #404040;
    padding: 20px 100px;
}

.all-recipes-list {
    margin: 5vh auto;
    list-style: none;
    width: fit-content;

}

ul li {
    margin: 10px 0;
    padding: 20px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: rgba(0 100 200);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .3px;
}

.marinade {
    background-color: hsl(50 80% 70% / .7);
}

.fried-rice {
    background-color: hsl(100 80% 70% / .7);
}

.ratatouille {
    background-color: hsl(150 80% 70% / .7);
}